%p The current challenge is to produce this expression with ruby code in as few characters as possible:
%code= @challenge.result
%p Here is the current leaderboard:

%table.pure-table.pure-table-horizontal.pure-table-striped.full-width
  %thead
    %tr
      %th Position
      %th Name
      %th Best Score
      %th Timestamp
  %tbody
    - @challenge.leaderboard.each_with_index do |(u,s),i|
      %tr
        %td= i + 1
        %td= u.name
        %td= s.score
        %td= s.created_at.strftime('%b %d %H:%M')
